<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diwen.Xbrl" version="1.0.3" targetFramework="net462" />
  <package id="Diwen.XbrlTable" version="0.1.0-beta" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net462" />
  <package id="NPOI" version="2.4.0" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
</packages>